/* Register.css */

.register-container {
  max-width: 450px;
  margin: 40px auto;
  padding: 25px;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #6c63ff;
}

form {
  display: flex;
  flex-direction: column;
}

input,
select,
button {
  padding: 12px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  width: 100%;
}

input,
select {
  background-color: #f4f6f8;
  color: #333;
  border: 1px solid #e0e0e0;
}

input:focus,
select:focus {
  border-color: #6c63ff;
  outline: none;
  box-shadow: 0 0 10px rgba(108, 99, 255, 0.3);
}

button {
  background-color: #6c63ff;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #524bff;
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(108, 99, 255, 0.3);
}

select {
  background-color: #f9f9f9;
}

label {
  font-size: 1rem;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .register-container {
    padding: 20px;
  }

  h2 {
    font-size: 1.5rem;
  }

  input,
  select,
  button {
    font-size: 0.9rem;
  }
}
